.tab {
	display: flex;
	flex-flow: row;
	justify-content: center;
	border-bottom: solid black 1px;
}

.div-form {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

#signin-button {
	margin-top: 25px;
	border: 1px black solid;
	border-radius: 40px;
	text-align: center;
	padding: 10px;
}

.background {
	background-color: #25d366;
	border: 2px black solid;
    border-radius: 25px;
    padding: 20px;
}

.div-button {
	text-align: center;
}