#tab-options {
	display: inline;
}

.site {
	border: 1px solid black;
	margin-left: 40px;
}

.site-preview {
	display: flex;
}

.containcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div-form {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

#register-button {
	margin-top: 25px;
	border: 1px black solid;
	border-radius: 40px;
	text-align: center;
	padding: 10px;
}

.background-editsite {
	background-color: #25d366;
	border: 2px black solid;
    border-radius: 25px;
    padding: 20px;
    margin-left: 30px;
}

.div-button {
	text-align: center;
}